* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    

}
html{
    font-family:Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

#header {
    height:46px;
    background-color:#000;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1;
    
    

   
}
#nav{ display:inline-block;

}
#nav > li { display:inline-block;

}
#nav li {
    display:inline-block;
    position:relative;


}
#nav > li > a{
    color:#fff;
}
#nav li a{
    
    text-decoration: none;
    line-height:46px;
    padding: 0 24px;
    display:block;
}


#nav > li:hover > a {
    background-color:#ccc ;
    color:#333;

}
#nav .subnav {
    /*display:none;*/
    position:absolute;
    top:100%;
    background-color: #fff;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
    display:none;
    min-width:160px;

    
    
}
#nav li:hover .subnav {
    display:block;
}

#nav .subnav a {
    color:#000;
    padding:0 12px;
    line-height:38px;
}

#nav .subnav li:hover{
    background-color:#ccc ;
    color:#333;
}
#nav .icon-down{ 
    font-size:10px;

}
#header .mobile-menu-btn{
    position: absolute;
    right:0;
    top:0;
    display:none;

}
#header .mobile-menu-btn,
#header .search-btn {
    float:right;
    line-height:46px;
    padding:0 21px;


}


#header .search-btn:hover{
    background-color:rgb(224, 15, 43);
    cursor:pointer;

}

#header .mobile-menu-btn:hover{
    background-color:#ccc;

   
}



#header .menu-icon,
#header .search-icon{
    color:#fff;
    font-size:20px;

}
#slider{
    width:39%;
    margin:0 auto;
    overflow: hidden;
    padding-top: 40px;


}
.slider-img {
    display: flex;
}

.slider-img img{
    width:100%;
}
.slider-img input{
    display: none;
}
.lableslider{
    display:flex;
    justify-content: center;
}
.lableslider label{
    border:2px solid #333;
    height:15px;
    width:15px;
    border-radius:50%;
    margin-top:2px;
}
    

.lableslider label:hover{
    background-color:rgba(0,0,0,0.6);
    cursor: pointer;}

    #img1:checked ~ .imgslider1{
        margin-left:-100%;
    }
    #img2:checked ~ .imgslider2{
        margin-left:-200%;
    }
    #img3:checked ~ .imgslider3{
        margin-left:-300%;
    }
    #img4:checked ~ .imgslider4{
        margin-left:-400%;
    }
      
     
    

#slider .text-heading{
    font-weight:500%;
    font-size:60px !important;
    margin-top:10px;
    text-align: center;
    

}
#slider .text-decrip{
    font-size:40px;
    
    margin-top:10px;
    text-align: center;

}
#content .content-section{
    width:800px;
    margin-left: auto;
    margin-right: auto;
    padding:64px 0;
    
}
#content .section-heading{
    text-align: center;
    font-size:45px;
    font-weight:500px;
    letter-spacing: 2px;

}
#content .section-sub-heading{
    text-align:center;
    font-size:30px;
    margin-top:10px;
    text-align:justify;
    line-height:1.4;
   

    
}

#content .content-process-img{
    height:400px;
    
    width:800px;
    padding:64px 50px;
    margin-left:auto;
    margin-right:auto;
    
}
#content .content-process-heading{
    text-align: center;
    font-weight:600;
   letter-spacing:1px;
   font-size:45px;
   margin-bottom:40px;

}

#content .process-img3{
   
    height:auto;
    width:200px;
} 
   .op-img{
    display: inline-block;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
}
.op1{
    margin-left:50px;
    
    
}
.op2{
    margin-left: 85px;
    
}
.op3 {
   
    margin-left: 470px;
    margin-bottom: 100px;
}
#content .process-img1{
    margin-left:36px;
    height:auto;
    width:200px;
    padding-right: 50px;
}
#content .process-img2{
  
    height:auto;
    width:200px;
    padding-right: 5

}
#content .process-img1, 
.process-img2, 
 .process-img3{
    margin-right:20px;
    float:left;
    border-radius: 4px;
   
}
#content .content-price-heading
{
    text-align:center;
    font-weight:600;
    letter-spacing: 1px;
    font-size:45px;
    padding-top: 60px;
    margin-right:-60px ;
}



#content table {width:800px;
           text-align:center;}
#content table, td, th{
    border: 1px solid #333;
    border-collapse: collapse;
    margin-top:20px;
    
}
table{text-align: center;
    margin-left:395px;
  
   
}
th{
    font-size:30px;
}
td, th{
    padding:6px 10px;
    margin-left:395px;

}
table td{ 
    text-align: center;
    font-size:25px;

}
#content .order-info{
    
   
    font-size: 16px;
}
#content .order-info{
    background-color: rgba(0,0,0,0.1);
    max-width: 400px; 
    margin: 0 auto; 
    padding:10px 0;
    text-align: center;
}
#content .order-heading
{
    text-align: center;
    margin-top:60px;
    font-size:45px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 20px;;
}
#content .sender-info{
    padding:3px 0;
    font-size: 20px;
    

}
    
    


#content .receiver-info{
    padding: 20px 0;
    
}
.sender-info input,
.receiver-info input{
   font-size:18px;
}  
.name-goods{
    font-size:20px;
} 
.name-goods input{
    font-size:18px;
}
#content .mass{
    padding:15px 0;
    font-size:20px;

}
.mass input{font-size:18px;}
#content .button-heading{
    font-size:22px;
    width:100px;
    height:35px;
    padding:3px 0;
    text-align: center;
    background-color: #000;
    color:#ccc;
}

.row{
    margin-left:-8px;
    margin-right:-8px;
   

}
.col{
    float:left;
    
    max-width:800px;
    

}
.contact-heading{
    text-align: center;
    margin-top:50px;
    margin-bottom: 30px;
    font-size:35px;
    letter-spacing: 2px;
}
.half-col{
    padding-left:500px;
    
   display:flex;
   position: relative;
   line-height: 1.4;

    
}
.col-half-tb{
    padding-left: 90px;
    line-height: 1.4;
    
}
.col-half-mail{
    margin-left:10px;
    
}
.col-half-mes{
    margin-top:10px;
    width:341px;
   
}
.col-half-send{
    margin-top:20px;
    margin-right:300px;
    background-color: #000;
    color:#ccc;
    width:50px;
   }
   #footer{
    background-color:rgba(0,0,0,0.1);
    height:250px;
    text-align: center;
   }
   #footer .social-list{
    font-size:24px;
    margin-top:150px
    
   }
   #footer .social-list a:hover{
     background-color: rgba(0,0,0,0.2);
   }
    #form-login{
        background-color: rgba(0,0,0,0.5);
        padding:30px 30px 40px;
        box-shadow:0px 0px 17px 2px rgba(240, 235, 235, 0.8);
       
        
    }
    .form-heading{
        color:#f5f5f5;
        font-size:24px;
        text-align: center;
        margin-bottom: 10px;

    }
    .form-input{
        margin-bottom: 7px;
      
    }
    .form-submit{
        text-align: center;
    background-color: #000;
    color:#ccc;
    font-size:17px;
    width:100%;
    padding: 1px 2px;
    cursor: pointer;
    margin-top:10px;

    }
    .form-submit:hover{
        background-color: rgba(56, 52, 52, 0.8);
    }
    .icon-username{
        color:#333;
    }
